<h2>Who We Are</h2>
<p>Inspirational Gatherings is owned by <%= link_to "Ellen Wray", '/about/ellen-wray' %> and <%= link_to "Lisa Vickerage", '/about/lisa-vickerage' %></p>
<p>Ellen and Lisa&#39;s aim is to provide workshops, festivals and retreats where like minded individuals can come together, share their experiences and take time away from the chaotic world to re-energise and rejuvenate and to keep the mind strong and clear.</p>
<p>Ellen and Lisa have presented several festivals at various venues in the Midlands and Yorkshire throughout 2010 and the diary for 2011 is looking exciting already.</p>
<p>Dates and locations for upcoming events will be made available on this site as soon as confirmations are received. We look for ward to meeting you at one of our events in the near future...</p>