<h2>Spaces where you can dream explore and discover your potential.....</h2>
		<p>Our aim at Inspirational Gatherings is for individuals to find a place where they can dream explore and discover their true potential. Our festivals, retreats and workshops are there to give you the space to rest, rejuvenate, or to share experiences with like minded individuals. We want you to fulfil your potential in this world, and our events should leave you feeling inspired and empowered.</p>
		<em>"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbour. Catch the trade winds in your sails. Explore. Dream. Discover."<br />
		Mark Twain</em>
